<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <security:http auto-config='true'>
        <!-- IS_AUTHENTICATED_ANONYMOUSLY -->
        <security:intercept-url pattern="/login.*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/recover.view" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/accessDenied.view" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/coverArt.view" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/hls/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/stream/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/ws/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/share/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/style/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/icons/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/flash/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/script/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/sonos/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <security:intercept-url pattern="/crossdomain.xml" access="IS_AUTHENTICATED_ANONYMOUSLY" />

        <!-- ROLE_SETTINGS -->
        <security:intercept-url pattern="/personalSettings.view" access="ROLE_SETTINGS" />
        <security:intercept-url pattern="/passwordSettings.view" access="ROLE_SETTINGS" />
        <security:intercept-url pattern="/playerSettings.view" access="ROLE_SETTINGS" />
        <security:intercept-url pattern="/shareSettings.view" access="ROLE_SETTINGS" />

        <!-- ROLE_ADMIN -->
        <security:intercept-url pattern="/generalSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/advancedSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/userSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/musicFolderSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/networkSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/dlnaSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/sonosSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/transcodingSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/internetRadioSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/podcastSettings.view" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/db.view" access="ROLE_ADMIN" />

        <!-- MISC -->
        <security:intercept-url pattern="/deletePlaylist.view" access="ROLE_PLAYLIST" />
        <security:intercept-url pattern="/savePlaylist.view" access="ROLE_PLAYLIST" />
        <security:intercept-url pattern="/download.view" access="ROLE_DOWNLOAD" />
        <security:intercept-url pattern="/upload.view" access="ROLE_UPLOAD" />
        <security:intercept-url pattern="/createShare.view" access="ROLE_SHARE" />
        <security:intercept-url pattern="/changeCoverArt.view" access="ROLE_COVERART" />
        <security:intercept-url pattern="/editTags.view" access="ROLE_COVERART" />
        <security:intercept-url pattern="/setMusicFileInfo.view" access="ROLE_COMMENT" />
        <security:intercept-url pattern="/podcastReceiverAdmin.view" access="ROLE_PODCAST" />

        <!-- ROLE_USER -->
        <security:intercept-url pattern="/**" access="ROLE_USER" />
        <security:form-login login-page="/login.view"
                             default-target-url="/index.view"
                             authentication-failure-url="/login.view?error=1"
                             always-use-default-target="true"/>
        <security:remember-me user-service-ref="securityService" />
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="securityService" />
    </security:authentication-manager>
</beans>
