<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="libresonic" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Libresonic Music Streamer</display-name>

    <!-- Location of application context.  Used by ContextLoaderListener. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext-service.xml
            /WEB-INF/applicationContext-security.xml
            /WEB-INF/applicationContext-cache.xml
            /WEB-INF/applicationContext-sonos.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextInitializerClasses</param-name>
        <param-value>org.libresonic.player.spring.AdditionalPropertySourceConfigurer</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>libresonic</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>CFX Servlet</display-name>
        <servlet-name>cxfservlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>*.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/podcast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/wap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/play.m3u</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/stream/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/hls/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libresonic</servlet-name>
        <url-pattern>/share/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cxfservlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <filter>
        <filter-name>BootstrapVerificationFilter</filter-name>
        <filter-class>org.libresonic.player.filter.BootstrapVerificationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BootstrapVerificationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ParameterDecodingFilter</filter-name>
        <filter-class>org.libresonic.player.filter.ParameterDecodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ParameterDecodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RESTFilter</filter-name>
        <filter-class>org.libresonic.player.filter.RESTFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RESTFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RequestEncodingFilter</filter-name>
        <filter-class>org.libresonic.player.filter.RequestEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>RequestEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <description>Sets HTTP headers to enable browser caching.</description>
        <filter-name>CacheFilter</filter-name>
        <filter-class>org.libresonic.player.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>max-age=36000</param-value>
        </init-param>
    </filter>

    <filter>
        <description>Sets HTTP headers to disable browser caching.</description>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>org.libresonic.player.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>no-cache, post-check=0, pre-check=0</param-value>
        </init-param>
        <init-param>
            <param-name>Pragma</param-name>
            <param-value>no-cache</param-value>
        </init-param>
        <init-param>
            <param-name>Expires</param-name>
            <param-value>Thu, 01 Dec 1994 16:00:00 GMT</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/icons/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/style/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/statusChart.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/userChart.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/playQueue.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/podcastChannels.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/podcastChannel.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/help.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/top.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>/home.view</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>