language: java
sudo: required
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.m2
install:
  - sudo apt-get -qq update
before_script:
  - wget http://apache.mirrors.tds.net/maven/maven-3/3.5.4/binaries/apache-maven-3.5.4-bin.tar.gz
  - tar -xvf apache-maven-3.5.4-bin.tar.gz
  - export M2_HOME=$PWD/apache-maven-3.5.4
  - export PATH=$PWD/apache-maven-3.5.4/bin:$PATH
script:
  - mvn package install
