<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <security:http auto-config='true'>

        <security:csrf request-matcher-ref="csrfSecurityRequestMatcher"/>


        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        <!-- permitAll -->
        <security:intercept-url pattern="/login.*" access="permitAll"/>
        <security:intercept-url pattern="/recover.view" access="permitAll" />
        <security:intercept-url pattern="/accessDenied.view" access="permitAll" />
        <security:intercept-url pattern="/coverArt.view" access="permitAll" />
        <security:intercept-url pattern="/hls/**" access="permitAll" />
        <security:intercept-url pattern="/stream/**" access="permitAll" />
        <security:intercept-url pattern="/ws/**" access="permitAll" />
        <security:intercept-url pattern="/share/**" access="permitAll" />
        <security:intercept-url pattern="/style/**" access="permitAll" />
        <security:intercept-url pattern="/icons/**" access="permitAll" />
        <security:intercept-url pattern="/flash/**" access="permitAll" />
        <security:intercept-url pattern="/script/**" access="permitAll" />
        <security:intercept-url pattern="/sonos/**" access="permitAll" />
        <security:intercept-url pattern="/crossdomain.xml" access="permitAll" />

        <!-- hasRole('ROLE_SETTINGS') -->
        <security:intercept-url pattern="/personalSettings.view" access="hasRole('ROLE_SETTINGS')" />
        <security:intercept-url pattern="/passwordSettings.view" access="hasRole('ROLE_SETTINGS')" />
        <security:intercept-url pattern="/playerSettings.view" access="hasRole('ROLE_SETTINGS')" />
        <security:intercept-url pattern="/shareSettings.view" access="hasRole('ROLE_SETTINGS')" />

        <!-- hasRole('ROLE_ADMIN') -->
        <security:intercept-url pattern="/generalSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/advancedSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/userSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/musicFolderSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/networkSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/dlnaSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/sonosSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/transcodingSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/internetRadioSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/podcastSettings.view" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/db.view" access="hasRole('ROLE_ADMIN')" />

        <!-- MISC -->
        <security:intercept-url pattern="/deletePlaylist.view" access="hasRole('ROLE_PLAYLIST')" />
        <security:intercept-url pattern="/savePlaylist.view" access="hasRole('ROLE_PLAYLIST')" />
        <security:intercept-url pattern="/download.view" access="hasRole('ROLE_DOWNLOAD')" />
        <security:intercept-url pattern="/upload.view" access="hasRole('ROLE_UPLOAD')" />
        <security:intercept-url pattern="/createShare.view" access="hasRole('ROLE_SHARE')" />
        <security:intercept-url pattern="/changeCoverArt.view" access="hasRole('ROLE_COVERART')" />
        <security:intercept-url pattern="/editTags.view" access="hasRole('ROLE_COVERART')" />
        <security:intercept-url pattern="/setMusicFileInfo.view" access="hasRole('ROLE_COMMENT')" />
        <security:intercept-url pattern="/podcastReceiverAdmin.view" access="hasRole('ROLE_PODCAST')" />

        <!-- ROLE_USER -->
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <security:form-login login-page="/login.view"
                             default-target-url="/index.view"
                             authentication-failure-url="/login.view?error=1"
                             always-use-default-target="true"
                             username-parameter="j_username"
                             password-parameter="j_password"/>
        <security:remember-me user-service-ref="securityService" key="libresonic"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="securityService" />
    </security:authentication-manager>
</beans>
