<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cacheFactory" class="org.airsonic.player.cache.CacheFactory"/>

    <bean id="userCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="userCache"/>
    </bean>

    <bean id="mediaFileMemoryCache" factory-bean="cacheFactory" factory-method="getCache">
        <constructor-arg value="mediaFileMemoryCache"/>
    </bean>

</beans>
