<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder />

    <import resource="applicationContext-db.xml" />

    <!-- DAO's -->
    
    <context:component-scan base-package="org.airsonic.player.dao, 
        org.airsonic.player.service, 
        org.airsonic.player.monitor, 
        org.airsonic.player.ajax, 
        org.airsonic.player.i18n." />

    <!-- Services -->

    <bean id="metaDataParserFactory" class="org.airsonic.player.service.metadata.MetaDataParserFactory">
        <property name="parsers">
            <list>
                <ref bean="jaudiotaggerParser" />
                <ref bean="ffmpegParser" />
                <ref bean="defaultMetaDataParser" />
            </list>
        </property>
    </bean>

    <!-- AJAX services -->

</beans>
