<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       profile="legacy">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url"
                  value="#{T(org.airsonic.player.service.SettingsService).defaultJDBCUrl}" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
</beans>