/*
 * CSS styleshet for monochrome style
 *
 * Author: David D ddavis1@gmail.com
 */

@import "default-without-mediaelement.css";
@import "mediaelement-dark.css";

/* The primary background colour. */
.bgcolor1, table.music tr:nth-of-type(even) {
    background-color: #222;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log, table.music tr:nth-of-type(odd) {
    background-color: #000000;
}

/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #FFFFFF;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
    color: #FFFFFF;
}

.back {
    background-image:url("../icons/default_dark/back.png");
}

table {
    margin: 0 0 0 0;
}

/* Main frame image & colour */
.mainframe, .rightframe {
    background-color: #222;
}

/* Link colour */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #FFFFFF;
}

/* Link hover colour */
a:hover, a:hover * {
    text-decoration: underline;
    color: #FFFFFF;
}

/* Disabled links color and behavior */
a.disabled, a.disabled span, span.disabled {
    cursor: default;
    text-decoration: none;
    color: #999;
}

/* Colour for warning messages. */
.warning {
    color: #990099;
}

/* Background colour for form controls. */
input, select {
    color: #000;
    background-color: #EEE;
}

/* Background colour for option controls. */
option {
    font-weight: bold;
    background-color: #666666;
    color: #FFFFFF;
}

/* The primary foreground colour. */
body {
    background-color: #DDDDDD;
}

/* The album comments. */
.albumComment {
    width: 50em;
    font-size: 8pt;
    line-height: 1.4em;
    padding-top: 0.25em;
    color: #000000;
}

/* The log. */
.log {
    font-weight: bold;
    white-space: nowrap;
    font-size: 8pt;
    line-height: 1em;
    color: #000000;
    background-color: #C0C0C0;
}

/* The help, status & web payer settings tables. */
.ruleTableHeader, .ruleTableCell {
    margin: 5px;
    padding: 5px;
    color: #FFFFFF;
    background-color: #C0C0C0;
}

label, p {
	color: #CCC;
}
