<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="service" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:9412/LibresonicDeployerService"/>
        <property name="serviceInterface" value="org.libresonic.player.booter.deployer.LibresonicDeployerService"/>
        <property name="lookupStubOnStartup" value="false"/>
        <property name="refreshStubOnConnectFailure" value="true"/>
    </bean>

    <bean id="agent" class="org.libresonic.player.booter.agent.LibresonicAgent">
        <constructor-arg ref="service"/>
        <property name="frame" ref="frame"/>
    </bean>

    <bean id="frame" class="org.libresonic.player.booter.agent.LibresonicFrame">
        <constructor-arg ref="agent"/>
        <constructor-arg ref="statusPanel"/>
        <constructor-arg ref="settingsPanel"/>
    </bean>

    <bean id="settingsPanel" class="org.libresonic.player.booter.agent.SettingsPanel">
        <constructor-arg ref="agent"/>
    </bean>

    <bean id="statusPanel" class="org.libresonic.player.booter.agent.StatusPanel">
        <constructor-arg ref="agent"/>
    </bean>

</beans>